body {
  margin:0;
  padding:0;
  font-family: 'Oswald', sans-serif;
  background-color: #fff;
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}


#navbar .fa {
  padding-top: 10px;
}

.jumbotron .fa-times {
  padding: 10px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 6px;
    border-radius: 0px;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 4px;
    margin-bottom: 0px;
    margin-left: 17px;
    margin-right: 17px;
    color: inherit;
    background-color: #eee;
}

h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron p {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 200;
}

a {
    color: #f7ad00;
    text-decoration: none;
}

.btn-default {
    color: #333;
    background-color: #ddd;
    border-color: #ccc;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 2px;
}

.navbar-inverse .navbar-brand:hover {
    color: #ddd;
    background-color: transparent;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 2px 0 0;
}

hgroup {
  text-align: center;
}

#map {
  position:relative;
  width:100%;
  margin:auto;
  background-color: lightGray;
}

.navbar-brand>img {
  display:inline-block;
}

.sidebar img {
  max-width:100%;
  margin:1em;
}

footer .input-group {
  margin:.5em;
}

button.btn-default.dropdown-toggle {
  background:none;
  border:none;
}

.navbar-fixed-top .input-group {
  float:right;
  margin:8px;
}

.navbar-brand img {
  height:100%;
}

@media screen and (max-width:768px) {
.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:15px;
}
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#modal-choose .modal-body {
  text-align:center;
}

#career-search {
  position: absolute;
  top: 8em;
  left: 2em;
  width:30em;
  z-index: 99;
}

#career-result {
  position: absolute;
  width: 400px;
  top: 4em;
  right: 2em;
  z-index: 99;
}

input, select {
  width:100%;
}

.scroll-fix {
  height: 350px;
  overflow: auto;
}

.row > div > div {
  margin: 5px;
}

.panel-body-left {
  text-align: left;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

/* Palette 2-2 */

.palette2-2 .navbar-inverse {
    background-color: #2a5f9e;
    border-color: #000;
}
.palette2-2 .navbar-inverse .navbar-nav>li>a {
    color: #e0e7e0;
}
.palette2-2 .navbar-inverse .navbar-brand {
    color: #e0e7e0;
}
.palette2-2 .btn-default {
    color: #333;
    background-color: #e3e095;
    border-color: #ccc;
}
.palette2-2 .modal-body {
    text-color: #333;
    background-color: #e3e095;
    border-color: #ccc;

}

/* Palette 2-3 */

.palette2-3 .navbar-inverse {
    background-color: #672b52;
    border-color: #000;
}
.palette2-3 .navbar-inverse .navbar-nav>li>a {
    color: #e0e7e0;
}
.palette2-3 .navbar-inverse .navbar-brand {
    color: #e0e7e0;
}
.palette2-3 .btn-default {
    color: #333;
    background-color: #c8bfe7;
    border-color: #ccc;
}
.palette2-3 .modal-body {
    text-color: #333;
    background-color: #c8bfe7;
    border-color: #ccc;

}

/* Palette 2-4 */

.palette2-4 .navbar-inverse {
    background-color: #576472;
    border-color: #000;
}
.palette2-4 .navbar-inverse .navbar-nav>li>a {
    color: #e0e7e0;
}
.palette2-4 .navbar-inverse .navbar-brand {
    color: #e0e7e0;
}
.palette2-4 .btn-default {
    color: #333;
    background-color: #99d9ea;
    border-color: #ccc;
}
.palette2-4 .modal-body {
    color: #333;
    background-color: #99d9ea;
    border-color: #ccc;

}


/* Palette 2-6 */

.palette2-6 .navbar-inverse {
    background-color: #4f2700;
    border-color: #000;
}
.palette2-6 .navbar-inverse .navbar-nav>li>a {
    color: #ffe2c6;
}
.palette2-6 .navbar-inverse .navbar-brand {
    color: #ffe2c6;
}
.palette2-6 .btn-default {
    color: #333;
    background-color: #f3ed01;
    border-color: #ccc;
}
.palette2-6 .modal-body {
    text-color: #333;
    background-color: #f3ed01;
    border-color: #ccc;

}
